<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />  
    <title>Nifty Thrifty</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover" />
    <link rel="stylesheet" href="/css/style.css" />
  </head>
  <header>
    <nav>
      <!-- Conditionally render login or logout links -->
      {{#if logged_in}}
      <a href="/">Homepage</a> |
      <button class="no-button" id="logout">logout</button>
      {{else}}
      <a href="/login">login</a>
      {{/if}}
    </nav>
  </header>
  <body>
    {{{body}}}

    {{#if logged_in}}
    <script src="/js/logout.js"></script>
    {{/if}}
  </body>
</html>
